In [3]:
import pandas as pd
import seaborn as sns
import numpy as np
from matplotlib import pyplot as plt
from sklearn.metrics import r2_score

from os import listdir
from os.path import isfile, join

In [29]:
results_path = 'D:\\Pablo\\clases\\UJM\\1. Semester, 2020\\Advanced Algorithms\\Project\\code\\Advanced_Algorithmics_Edit_Distance\\protein_results'

file_list = [f for f in listdir(results_path) if isfile(join(results_path, f))]

frames = []
for file_name in file_list:
    if file_name.startswith('protein'):
        splitted_name = file_name.split('_')
        df = pd.read_csv(results_path+'/'+file_name)
        df['dataset_length'] = int(splitted_name[1].split('.')[0])
        frames.append(df)
results = pd.concat(frames)

results.head()

#results = results[results['algorithm'] != 'greedy_approach']

,algorithm,len,ed,time,clock_time,calls,dataset_length
0,greedy_approach,153,135.0,0.020377,0.020273,1,10
1,divide_and_conquer,153,122.0,0.084663,0.084659,1,10
2,dinamic_programming,153,122.0,0.034130,0.034031,1,10
3,dinamic_programming_2,153,122.0,0.067094,0.067181,1,10
4,greedy_approach,153,130.0,0.019189,0.018519,1,10

In [30]:
run_time = results.groupby(['algorithm','dataset_length']).sum().reset_index()[['algorithm','dataset_length','clock_time']]

run_time.pivot(index=['algorithm'], columns=['dataset_length'],values='clock_time').reset_index()

dataset_length,algorithm,10,100,1000,2000,5000
0,dinamic_programming,0.351952,4.080416,38.326479,74.871047,184.614400
1,dinamic_programming_2,0.634749,7.749215,72.899570,142.067272,348.925890
2,divide_and_conquer,0.724722,8.255708,76.678935,149.597387,369.254177
3,greedy_approach,0.634416,17.443766,169.617958,360.758988,939.544124

In [31]:
run_ed = results.groupby(['algorithm','dataset_length']).sum().reset_index()[['algorithm','dataset_length','ed']]

#run_ed['ed'] = run_ed.apply(lambda row:row['ed']/row['dataset_length'], axis=1)

run_ed.pivot(index=['algorithm'], columns=['dataset_length'],values='ed').reset_index()

dataset_length,algorithm,10,100,1000,2000,5000
0,dinamic_programming,1207.0,12564.0,129703.0,271546.0,666188.0
1,dinamic_programming_2,1207.0,12564.0,129703.0,271546.0,666188.0
2,divide_and_conquer,1207.0,12564.0,129703.0,271546.0,666188.0
3,greedy_approach,1390.0,14833.0,152148.0,316211.0,773310.0